@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@mixin fontSize($size, $lineHeight: 1.4) {
  font-size: $size + px; //Fallback in px
  font-size: calculateRem($size);
  line-height: $lineHeight;
}
