:global(:root) {
  --font-primary: Roboto, Helvetica, Arial, sans-serif;

  /* colors */
  --color-text: #2a2e3b;
  --color-text-light: #535e70;
  --color-text-heading: var(--color-text-light);
  --color-muted: #535e703d;
  --color-muted-10: #535e70a8;
  --color-success: #0f9d58;
  --color-calmdown: #666de9;
  --logo-color: #000;

  --default-transition-time: 0.4s;
}
